# Ignore all .o files
*.o

# Ignore .gdbinit file
.gdbinit

# Ignore .clang-format file
.clang-format

# Ignore the .vscode directory
.vscode/

# Makefile for the game
Makefile

# Trace.txt and Output.txt files
~/trace.txt
~/output.txt 
